@{
    Layout = null;
    var seriesTitle = "The Amazing Spider-man";
    var issueNumber = 700;
    var description = "<p> Final Issue!</p>";
    var artists = new string[] { "Script: Dan Slott", "Pencils: Humberto Ramos" };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue Number: @issueNumber</h2>
        <h5>Description</h5>
        <div>@Html.Raw(description)</div>
        <h5>Artists</h5>
        <div>@artists</div>
    </div>
</body>
</html>
